# ignore data
data/
data/ego4d_data/
data/egogoal/
data/egotrack/

#ignore vectorstore in data_annotation
data_annotation/goalstep_docarray_faiss
data_annotation/spatial_docarray_faiss

# isnore any aws related projects or download files
aws/
# deleted anyway
awscliv2.zip 

# ignore any .env variable api keys
.env